/CalcularHorasTrabalhadas/nbproject/private/
/Pilha/nbproject/private/
/CalcularHorasTrabalhadas/build/
/Projeto/EstacionamentoInicio/nbproject/private/
/EstacionamentoFinal/nbproject/private/
/EstacionamentoInicio/nbproject/private/
/EstacionamentoFinal/build/