/CalcularHorasTrabalhadas/nbproject/private/
/Pilha/nbproject/private/
/CalcularHorasTrabalhadas/build/
/Projeto/EstacionamentoInicio/nbproject/private/
/EstacionamentoFinal/nbproject/private/
/EstacionamentoInicio/nbproject/private/
/EstacionamentoFinal/build/
/JDBC-DBJAVA/JDBC-DBJAVA1/nbproject/private/
/JDBC-DBJAVA/JDBC-DBJAVA1/build/
/Projeto Estacionamento Java DB/nbproject/private/
/Projeto Estacionamento Java DB/build/
/BlackJack/nbproject/private/
/Jogo21/nbproject/private/
